body {
    background-color: #cacaca;
}

footer {
    display: flex;
    height: 14em;
    justify-content: center;
    align-items: center;
    padding: 5x 5px;
    color: white;
    background-color: #0c3f4c;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight:bold;
}

.navbar ul li a:hover {
    background-color: rgb(180, 199, 199);
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.navbar p {
    display: flex;
    justify-content: center;
}

.container img {
    height: 19em;
}

